body {
    margin: 0px;
    display: flex;
    background-color: #23022e;
    justify-content: center;
}


#content{
    display: grid; 
    flex-direction: column;
    justify-content: center;

    grid-template-columns: 1fr;
    grid-template-rows: auto;

    width: 75%;
    height: 100vh;
    background-color: #EFF8E2;
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabs div{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: 1px black solid;
    height: 50px;
    width: 100px;
}
