body {
    margin: 0px;
    display: flex;
    background-color: #23022e;
    justify-content: center;
}


#content{
    width: 75%;
    height: 100vh;
    background-color: #EFF8E2;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navBar div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    height: 50px;
    width: 100px;
}
