body {
    margin: 0px;
}

#content{
    min-height: 100vh;
    background-color: #EFF8E2;
}

.mainPage {
    display: flex; 
    flex-direction: row;
    padding: 50px 10px 10px 10px;
    justify-content: center;
}

.articleContainer{
    width: 400px;
    display: flex; 
    flex-direction: column;
}

.articleHeading {
    font-size: 24px;
}

.articleBody {
    padding-left: 20px;
    padding-bottom: 40px;
}

.mainPage img{
    height: 400px;
}
