body {
    margin: 0px;
}

#content{
    min-height: 100vh;
    background-color: #EFF8E2;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
}

.navBar{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navBar div{
    border: 1px black solid;
    border-radius: 10px;
    height: 30px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #573280;
}

.logo .title{
    font-size: 75px;
}

.logo img{
    width: 75px;
}

/*
mainpage css
*/

.mainPage {
    display: flex; 
    flex-direction: row;
    padding: 50px 10px 10px 10px;
    justify-content: center;
}


.articleContainer{
    width: 400px;
    display: flex; 
    flex-direction: column;
}

.articleHeading {
    font-size: 24px;
}

.articleBody {
    padding-left: 20px;
    padding-bottom: 40px;
}

.mainPage img{
    height: 400px;
}
